@{layout('')}
@{title(config.name)}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />	
	@{import('meta', 'head', 'vendor.min.js', 'vendor.min.css', 'app.min.js', 'app.min.css', 'favicon.ico')}
</head>
<body>
<div data---="autocomplete__null__height:150"></div>
<div data---="notify"></div>	
<header>
    <nav class="navbar navbar-default mb5">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            	<span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@{config.name}</a>
        </div>      
        <div class="collapse navbar-collapse" id="navbar-collapse" data---="selected__common.page__selector:li;class:active;">
        	<ul class="nav navbar-nav">
      			<li data-if="new"><a href="#" onclick="formFbrNew()" title="New form"><i class="fa fa-file-o" ></i> New</a></li>
      			<li data-if="new"><a href="#" onclick="formFbrSave()" title="Save form"><i class="fa fa-floppy-o" ></i> Save</a></li>      
      			<li data-if="new"><a href="#" onclick="liveFbrView()" title="Live view" ><i class="fa fa-play"></i> Play</a></li>        
    		</ul>
    		<div class="col-sm-3 col-md-3">
    			<form class="navbar-form">            	
					<div class='input-group' style='width: 100%;'>
						<span class="input-group-addon" style='width: 40px;'><i class="fa fa-search" aria-hidden="true"></i></span>   						
				   		<div data---="textbox__fbrformsearch__class:form-control;placeholder:Enter form name...;autocomplete:searchFbrForm;"></div>         
					</div> 	            	            	
            	</form>
			</div>    			            
            <ul class="nav navbar-nav navbar-right">
            	<li data-if="help"><a href="@{#}/help" class="R"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a></li>
                <li data-if="help"><a href="@{#}/help" class="R"><i class="fa fa-question" aria-hidden="true"></i> Help</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
	<div id='leftPanel' class='pr p5'>       
       	<div data-jc="part__null__url:/templates/fabric/tab_designer.html" class='pr100'></div>       
    </div>
    <div id='rightPanel' class='pr p5'>    
       	<div data-jc="part__null__url:/templates/fabric/tab_result.html" class='pr100'></div>       		
    </div>	
</main>
<footer class='mt5'>
	<div class='row'>	  	    
  	    <div class='col-md-9'>	
            <strong>Copyright &copy; 2019-2020 <a href="/">Fabric for component</a>.</strong> @(All right reserved)  
		</div>
		<div class='col-md-3'>	
	        <b>Email:</b> <a href='mailto:@(saper639@gmail.com)'>@(saper639@gmail.com)</a>
		</div>
    </div> 
</footer>

<script>
	//init tabs	
	var tab = {design: 'html', result: 'view'};
	var temp;
	//init layout
	$('main').enhsplitter({height: '300'});		
	//new form
	function formFbrNew() {
        SET('fbrform', undefined);
        SET('fbrformsearch', undefined);
        $('#View').html('');        
        return;
    };
    //save form
	function formFbrSave() {        
        if (!VALIDATE('fbrform.*')) {
            SETTER('notify', 'append', '@(Check the form and parameters for errors)', 2);
            return;
        };
        AJAX('POST /fabric/save', fbrform, (res, err) => {
        	if (err) {
                SETTER('notify', 'append', '@(Error when saving)', 2);
                return;
            }
            SET('fbrform.id', res.value.id);
        	SETTER('notify', 'append', '@(Saved successfully)');
        });        
        return;
    };
    //live view
    function liveFbrView() {
    	$('#View').html(fbrform.html + ("<script>"+fbrform.code+"<\/script>"));    	
        /*if (temp && temp.name == form.param.jcpath) {
            SET('form.param.jcpath', temp.value)
        };*/
        WATCH('*', function(path, value) {            
        	if (fbrform && fbrform.param && fbrform.param.jcpath && path.indexOf(fbrform.param.jcpath) !== -1) {
        		temp = { name: fbrform.param.jcpath, value: eval(fbrform.param.jcpath) };
        		SET('result.json', JSON.stringify(eval(fbrform.param.jcpath), null, 4));    
        	}	
        });	
    	return;
    }
    //search form
	function searchFbrForm(comp) {		
		FIND('autocomplete').attach(comp, function(q, render) {
			AJAX('GET /fabric/query', {q:q, list: true}, (resp, err) => {
				render(resp||[]);
			});
		}, function(value, input) { 
			comp.set(value.name);
			SET('fbrform', value);                   	
		}, 0, 38, 0);			
	}		
</script>
</body>
</html>