<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>@{helper('title')}</title>
    @{view('res_main_split')}		    
  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class="@{global.cfg.style.skin}">
   <div class='layout-top-nav'>
    <div class="ui-layout-north">
      <header class="main-header mn15">
      @{view('menu_guest')}           
      </header>
    </div>
    <div data-jc="resource">
       <script type="text/plain">
       </script>
    </div>  
    <div class="ui-layout-center pn">
    	 @{body}
    </div>
    <div class="ui-layout-south">      
      <footer class="main-footer mn15">
        <div class="container-fluid">
          <div class="pull-right hidden-xs">
            <b>тел:</b> @{global.cfg.company.tel}, <b>email:</b> @{global.cfg.company.email}
          </div>
          <strong>&copy; 2017 <a href="@{global.cfg.company.web}">@{!global.cfg.company.shortname}</a>.</strong> Все права защищены
        </div><!-- /.container -->
      </footer>
    </div>
   </div>
    @{view('res_comp')}
  </body>
</html>