<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        @{if global.cfg.company.minilogo}
          <img src="@{global.cfg.company.minilogo}" alt="@{global.cfg.company.brand}">
        @{else}
          @{!global.cfg.company.brand}
        @{fi}
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">                     
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/spravka.html">Help</a></li>     
        </ul>     
    </div>
  </div><!-- /.container-fluid -->
</nav>