<ul class="tabmenu pr" data-jc="tabmenu__tab.design">
    <li data-value="html"  class='text-orange'><i class="fa fa-html5"></i> Html</li>
    <li data-value="code"  class='text-blue'><i class="fa fa-code"></i> Code</li>    
    <li data-value="param"><i class="fa fa-sliders"></i> Params</li>
</ul>

<div data-bind="tab.design__visible:value == 'html'" class='invisible pr' style='height:94%'>	
	<div data---="codemirror__form.html__type:htmlmixed;theme:monokai;keyMap:sublime;required:true;height:parent;fullscreen:true" class='pr100'></div>
</div>

<div data-bind="tab.design__visible:value == 'code'" class='invisible pr' style='height:94%'>
	<div data-jc="codemirror__form.code__type:javascript;theme:monokai;keyMap:sublime;height:parent;fullscreen:true" class='pr100'></div>   
</div>

<div data-bind="tab.design__visible:value == 'param'" class='invisible pr' style='height:94%'>
	<table class='table table-bordered table-hover table-form'>
	    <colgroup>
	      <col width='50%'>
	      <col width='50%'>
	    </colgroup>  
        <tr>
	      <td colspan='2'>                 
	        <div data-jc="textbox__form.id__class:form-control input-sm;placeholder:id;disabled:true" style='width:100px'></div>
	      </td>        
    	</tr>
	    <tr>
	      <td colspan='2'>                 
	        <div data-jc="textbox__form.type__class:form-control input-sm;placeholder:Name;required:true;maxlength:50">Name</div>
	      </td>        
	    </tr>
	    <tr>
	      <td colspan='2'>        
	        <div data-jc="textbox__form.name__class:form-control input-sm;placeholder:Title;required:true;maxlength:150">Title</div>
	      </td>
	    </tr>
	    <tr>
	      <td colspan='2'>        
	        <div data-jc="textbox__form.param.jcpath__class:form-control input-sm;placeholder:Value form;required:true;maxlength:50">Path to object</div>
	      </td>
	    </tr>
	    <tr>
	      <td colspan='2'><b>Additional options</b></td>
	    </tr>
	    <tr>
	      <td>        
	        <div data-jc="textbox__form.param.size.height__class:form-control input-sm;type:number;">Height (px)</div>
	      </td>
	      <td>        
	        <div data-jc="textbox__form.param.size.width__class:form-control input-sm;type:number;">Width (px)</div>
	      </td>
	    </tr>    
	</table>    
</div>
